@using Microsoft.AspNetCore.Identity
@using DBProject.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    bool isAuthenticated = ViewContext.HttpContext.User.Identity.IsAuthenticated;
}

@if (isAuthenticated)
{
    // Kullanıcı giriş yapmışsa burası çalışacak
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <span class="nav-link text-dark">Hello, @UserManager.GetUserName(ViewContext.HttpContext.User)! </span>
        </li>
        <li class="nav-item">
            <form id="logoutForm" asp-controller="Account" asp-action="Logout" method="post">
                <button type="submit" class="btn btn-link nav-link text-dark">Logout</button>
            </form>
        </li>
    </ul>
}
else
{
    // Kullanıcı giriş yapmamışsa burası çalışacak
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
        </li>
    </ul>
}
